* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f6f4f3;
    /* background-color: #000000; */
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    width: 1988px;
    height: 125px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-link {
    width: 371px;
    height: 76px;
    transition: all ease-in 0.1s;
  }
  
  .logo-link:hover {
    transform: scale(0.95);
    transition: all ease-in 0.1s;
  }
  
  .m-left-26 {
    margin-left: 26px;
  }
  
  .navbar {
    width: 611px;
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    gap: 38px;
  }
  .navbar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  .navbar__item__link {
    font-size: 24px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: black;
    text-decoration: none;
  }
  .navbar__item__img-link {
    transition: all ease-in 0.1s;
  }
  .navbar__item:hover {
    transform: scale(0.95);
    transition: all ease-in 0.3s;
  }
  
  .chosen-link {
    color: #3B77BE;
  }
  
  .lending {
    width: 1988px;
    height: 798px;
    padding-top: 56px;
    display: flex;
    gap: 81px;
  }
  .lending__img-container {
    max-width: 988px;
    max-height: 686px;
    transition: all ease-in-out 0.2s;
    overflow: hidden;
    border-radius: 50px;
    margin-left: 56px;
  }
  .lending__img-container:hover {
    cursor: pointer;
  }
  .lending__img-container:hover img {
    transform: scale(1.1);
    transition: all ease-in 0.2s;
  }
  .lending__text-block {
    width: 863px;
    font-family: "Andika", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .lending__text-block__description {
    font-size: 32px;
    text-align: center;
  }
  
  .title-text {
    font-size: 48px;
    text-align: right;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  
  .m-bottom-107 {
    margin-bottom: 107px;
  }
  
  .m-bottom-60 {
    margin-bottom: 60px;
  }
  
  .italic-font {
    font-style: italic;
  }
  
  .big-text {
    font-size: 48px;
    font-weight: 600;
    display: block;
  }
  
  .btn {
    font-size: 32px;
    color: white;
    font-family: "Andika", sans-serif;
    border-radius: 3.5rem;
    border-width: 0px;
    background-color: #5B5050;
    transition: all ease-in 0.1s;
    padding: 18px 25px 20px 29px;
  }
  
  .btn:hover {
    color: rgb(196, 196, 196);
    background-color: #4b4343;
    cursor: pointer;
    transition: all ease-in 0.1s;
  }
  
  .log-in {
    width: 1988px;
    height: 798px;
    padding-top: 56px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }
  .log-in__text-block {
    width: 856px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .log-in__text-block__description {
    font-size: 32px;
    font-weight: 400;
    font-family: "Andika", sans-serif;
    line-height: 60px;
    text-align: center;
  }
  
  .log-in-btn {
    padding: 20px 43px 20px 43px;
  }
  
  .form-btn {
    padding: 20px 30px 22px 27px;
  }
  
  .reg {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reg__form {
    width: 851px;
    height: 689px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #000000;
    padding-block: 76px 29px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 21px;
  }
  .reg__form__input {
    width: 327px;
    height: 100px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 32px;
    font-family: "Andika", sans-serif;
    text-align: center;
    border: 3px solid #000000;
    border-radius: 25px;
  }
  .reg__form__input:focus {
    border-width: 7px;
    color: #000000;
    text-indent: 20px;
  }
  
  .reg-btn {
    padding: 20px 125px 20px 127px;
  }
  
  .auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .auth__form {
    width: 851px;
    height: 689px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #000000;
    padding-block: 143px 29px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 52px;
  }
  .auth__form__input {
    width: 327px;
    height: 100px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 32px;
    font-family: "Andika", sans-serif;
    text-align: center;
    border: 3px solid #000000;
    border-radius: 25px;
  }
  .auth__form__input:focus {
    border-width: 7px;
    color: #000000;
    text-indent: 20px;
  }
  
  .auth-btn {
    padding: 20px 139px 20px 140px;
  }
  
  .profile {
    width: 1988px;
    height: 798px;
    padding-top: 56px;
    display: flex;
    padding-left: 210px;
    gap: 272px;
  }
  .profile__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile__user-info__text-info {
    margin-top: 60px;
  }
  .profile__user-info__text-info p {
    font-size: 36px;
    font-family: "Inter", sans-serif;
    margin-bottom: 31px;
  }
  .profile__promotions-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .profile__promotions-container__description {
    font-size: 40px;
    font-family: "Andika", sans-serif;
  }
  .profile__promotions-container__promotions {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
  }
  .profile__promotions-container__promotions__promotion {
    display: flex;
    margin-bottom: 31px;
    cursor: pointer;
  }
  .profile__promotions-container__promotions__promotion__img-container {
    width: 283px;
    height: 206px;
    padding: 31px 0px 31px 46px;
    background-color: rgb(132, 132, 132);
  }
  .profile__promotions-container__promotions__promotion__description-block {
    width: 610px;
    height: 206px;
    background-color: white;
    padding: 31px 0px 31px 46px;
  }
  .profile__promotions-container__promotions__promotion__description-block__text {
    font-size: 32px;
    font-family: "Inter", sans-serif;
  }
  
  .watchmore-link {
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all ease-in 0.1s;
    margin-left: 340px;
  }
  
  .watchmore-link:hover {
    color: #3B77BE;
    transition: all ease-in 0.1s;
  }
  
  .choose-restaurant {
    width: 1988px;
    height: 798px;
    padding-top: 56px;
    display: flex;
    padding-left: 157px;
    gap: 76px;
  }
  .choose-restaurant__description {
    font-size: 32px;
    font-family: "Andika", sans-serif;
  }
  .choose-restaurant__title {
    font-size: 32px;
    font-family: "Andika", sans-serif;
    margin-bottom: 59px;
  }
  
  .restaurants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .restaurants-container__description {
    font-size: 32px;
    font-family: "Andika", sans-serif;
  }
  
  .restaurants {
    display: flex;
    flex-direction: column;
    margin-top: 47px;
  }
  .restaurants__restaurant {
    display: flex;
    margin-bottom: 40px;
    cursor: pointer;
  }
  .restaurants__restaurant__img-container {
    width: 283px;
    height: 206px;
    padding: 31px 0px 31px 46px;
    background-color: rgb(132, 132, 132);
  }
  .restaurants__restaurant__description-block {
    width: 531px;
    height: 206px;
    background-color: white;
    padding: 31px 0px 31px 46px;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .map-container {
    width: 837px;
    height: 671px;
  }
  
  .main-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
  
  .m-top-48 {
    margin-top: 48px;
  }
  
  .m-left-0 {
    margin-left: 0px;
  }
  
  .list-restaurants-container {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  
  .list-restaurants {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 89px;
    gap: 99px;
  }
  .list-restaurants__restaurant {
    width: 354px;
    background-color: white;
    border-radius: 25px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    cursor: pointer;
  }
  .list-restaurants__restaurant__img-container {
    width: 346px;
    height: 193px;
    border-radius: 25px;
    padding: 49px 45px 48px 44px;
    background-color: rgb(132, 132, 132);
  }
  .list-restaurants__restaurant__description-block {
    width: 354px;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    padding: 11px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }/*# sourceMappingURL=index.css.map */